{
  "presets": ["@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./src/app",
          "components": "./src/components",
          "containers": "./src/containers",
          "pages": "./src/pages",
          "utils": "./src/utils"
        },
        "root": ["./src"],
        "extensions": [".ts", ".tsx"]
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
